.userInfoBox {
  .infoBox {
    .ant-form {
      .ant-form-item-label {
        padding: 0 0.1rem;
        label {
          font-size: 2.125rem;
          line-height: 2.125rem;
          color: #9e9e9e;
        }
      }
      .userName {
        .u_name {
          width: 15rem;
        }
      }
      .userId {
        .u_id {
          width: 15rem;
        }
        .tag {
          margin-left: 10rem;
        }
      }
      .name {
        .u_name {
          width: 15rem;
        }
      }
    }
  }
  .w22rem {
    width: 22rem;
  }
}
